* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #1d1d1d;
  color: #d3d3d3;
}

header {
  text-align: left;
  padding: 15px;
  background-color: #1d1d1d;
  border-bottom: 1px solid #1d1d1d;
  position: sticky;
  top: 0;
  z-index: 10;
}

h1 {
  font-size: 1.4rem;
}

#feed {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}


.logo img {
  height: 60px; /* Altura que você quiser */
  width: auto; /* Mantém proporção */
  max-width: 100%; /* Evita estourar o container */
  align-items: start;
}

.post {
  background-color: #1d1d1d;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: relative; /* necessário para posição absoluta dentro */
}

.post img {
  width: 100%;
  height: auto;
  display: block;
}

.post-content {
  padding: 12px;
}

.post-title {
  margin-top: 11px;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.post-description {
  font-size: 0.95rem;
  color: #dadada;
}

.post-interactions {
  margin-top: 2px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.interaction-btn {
  background: none;
  border: none;
  font-size: 1rem;
  color: #e6e6e6;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.interaction-btn:hover {
  opacity: 0.7;
}

.interaction-btn span {
  font-size: 0.9rem;
}

.post-header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

.user-name {
  color: #fff;
  font-size: 0.9rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.btn-perfil {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  cursor: pointer;
}

.btn-perfil:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.description-container {
  position: relative;
  max-height: 3.2em; /* altura de 2 linhas */
  line-height: 1.6em;
  overflow: hidden;
}

.description-container.full {
  max-height: none;
  white-space: normal;
}

.description-text {
  display: inline;
  color: #dadada;
}

.btn-mais {
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-left: 4px;
  vertical-align: top;
  padding: 0;
}